.advantages {
  margin: 0;
  padding: 0;
}

.advantages__wrapper {
  margin: 0;
  padding: 0 20px;
  padding-bottom: 49px;
  width: 320px;
}

.advantages__title {
  margin: 0;
  padding: 0;
  margin-bottom: 40px;
  color: #000000;
  font-family: "Oswald", sans-serif;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px; /* 111.111% */
}

.advantages__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: end;
  gap: 26px;
}

.advantages__item {
  margin: 0;
  padding: 0;
  width: 200px;
  color: #444444;
  font-family: "Lato", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px; /* 128.571% */
}

.advantages__description {
  margin: 0;
  padding: 0;
}
