.button {
  color: #ffffff;
  background-color: #68b738;
  text-align: center;
  font-family: "Oswald", "Areal", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
  text-decoration: none;
}

