.copyright {
  margin: 0;
  padding: 0;
}

.copyright__wrapper {
  margin: 0;
  margin-top: 20px;
  padding: 0;
  width: 280px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.copyright__link {
  margin: 0;
  padding: 7px 0;
  width: 113px;
  height: 34px;
  color: #666666;

  &:active {
    opacity: 0.3;
  }
}

.copyright__icon {
  margin: 0;
  padding: 0;
  width: 27px;
  height: 34px;
  color: #666666;
  transition: color 0.3s ease-in;

  &:hover {
    color: #68b738;
  }

  &:active {
    color: #68b738;
    opacity: 0.3;
  }
}

@media (min-width: $tablet-width) {
  .copyright__wrapper {
    width: 164px;
    margin: 0;
    margin-left: 280px;
  }
}

@media (min-width: $desktop-width) {
  .copyright__wrapper {
    margin-left: 796px;
  }
}
