.logo {
  margin: 0;
  padding: 0;
}

.logo__icon {
  margin-top: 13px;
  margin-left: 20px;
  width: 33px;
  height: 38px;
}

.logo__text-header {
  margin-left: 56px;
  width: 101px;
  height: 18px;
  display: flex;
}

.logo__text-footer {
  margin: 0 auto 20px;
  padding: 0;
  width: 128px;
  height: 24px;
  display: flex;
}

@media (min-width: $tablet-width) {
  .logo__text-footer {
    margin: 0;
  }
}
