.logo {
  margin: 0;
  padding: 0;
}

.logo__wrapper {
  margin: 0;
  padding: 12px 20px;
  padding-bottom: 17px;
  display: flex;
  width: 320px;
  gap: 56px;
  align-items: center;
}

.logo__icon {
  margin: 0;
  padding: 0;
  width: 33px;
  height: 38px;
  cursor: pointer;
  transition: opacity 0.3s ease-in;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

.logo__text--header {
  padding: 0;
  margin: 0;
  width: 101px;
  height: 18px;
  display: flex;
  cursor: pointer;
  transition: opacity 0.3s ease-in;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

.logo__text--footer {
  margin: 0 auto 20px;
  padding: 0;
  width: 128px;
  height: 24px;
  display: block;
  fill: #111111;
  cursor: pointer;
}

@media (min-width: $tablet-width) {
  .logo__wrapper {
    width: 176px;
    align-items: center;
    padding: 0;
    gap: 13px;
  }

  .logo__icon {
    margin: 0;
    width: 60px;
    height: 50px;
  }

  .logo__text--header {
    padding: 16px 0;
    margin: 0;
    width: 101px;
    height: 50px;
    display: flex;
  }

  .logo__text--footer {
    margin: 0;
  }
}

@media (min-width: $desktop-width) {
  .logo__wrapper {
    margin: 0;
    padding: 0;
    width: 202px;
    min-width: 59px;
    gap: 14px;
  }

  .logo__icon {
    width: 70px;
    height: 59px;
  }

  .logo__text--header {
    padding: 0;
    align-items: center;
    width: 118px;
    height: 21px;
    text-align: center;
  }
}
