.main-footer {
  background-color: #f2f2f2;
}

.main-footer__wrapper {
  padding: 40px 20px;
  width: 320px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.main-footer__social {
  margin: 0;
  padding: 0;
}

.main-footer__copyright {
  margin: 0 auto;
  padding: 0;
}

@media (min-width: $tablet-width) {
  .main-footer__wrapper {
    width: 768px;
    padding: 57px 30px;
    display: grid;
    grid-template-columns: 128px 132px 168px;
  }
}

@media (min-width: $desktop-width) {
  .main-footer__wrapper {
    width: 1440px;
    padding: 72px 109px;
  }
}
