.main-header {
  margin: 0;
  padding: 0;
}

.main-header__wrapper {
  margin: 0 auto;
  padding: 0;
  max-height: 65px;
}


@media (min-width: $tablet-width) {
  .main-header__wrapper {
    display: grid;
    grid-template-columns: 176px 438px;
    column-gap: 94px;
    width: 708px;
    align-items: center;
    margin-top: 25px;
    margin-bottom: 65px;
    max-height: 60px;
  }
}

@media (min-width: $desktop-width) {
  .main-header {
    position: relative;
    /*background: linear-gradient(90deg, rgba(104, 183, 56, 0.85) 50% #ffffff 50%, rgba(104, 183, 56, 0.85) 100%);*/
  }

  .main-header::before {
    content: "";
    position: absolute;
    background-image: url("../img/hero/index-background-desktop.png");
    background-repeat: no-repeat;
    width: 720px;
    height: 694px;
    top: 0;
    right: 0;
    z-index: -1;
  }

  .main-header::after {
    background: linear-gradient(90deg, rgba(104, 183, 56, 0.85) 50% #ffffff 50%, rgba(104, 183, 56, 0.85) 100%);
  }

  .main-header__wrapper {
    margin: 0;
    margin-bottom: 29px;
    padding: 55px 110px;
    padding-bottom: 0;
    display: grid;
    grid-template-columns: 202px 475px;
    gap: 0;
    width: 1440px;
    max-height: 114px;
    align-items: center;
    justify-content: space-between;
  }
}
