.main-selection__title {
  color: #000000;
  font-size: 36px;
  font-weight: 400;
  line-height: 36px;
  margin: 0;
  padding: 0 20px;
  padding-top: 27px;
  padding-bottom: 39px;
  width: 320px;
  border-top: 1px solid #d9d9d9;
}


@media (min-width: $tablet-width) {
  .main-selection__title {
    font-size: 60px;
    line-height: 60px;
    margin-top: 65px;
    margin-bottom: 84px;
    padding: 0;
    width: 768px;
    border: none;
  }
}

@media (min-width: $desktop-width) {
  .main-selection__title {
    margin-top: 74px;
    margin-bottom: 84px;
    width: 1440px;
  }
}
