.main-nav__list {
  display: none;
  z-index: 1;
}

.main-nav__toggle {
  position: absolute;
  z-index: 2;
  display: block;
  margin: 0;
  padding: 0;
  cursor: pointer;
  border: none;
  top: 23px;
  right: 20px;
  width: 24px;
  height: 24px;
  background-image: url("../img/main-nav/nav__toggle-close.svg");
  background-repeat: no-repeat;
}

.main-nav--opened {
  .main-nav__toggle {
    width: 20px;
    height: 20px;
    background-image: url("../img/main-nav/nav__toggle-open.svg");
    background-color: #ffffff;
  }

  .main-catalog__title {
    border: none;
  }
}

.main-nav--opened .main-nav__list {
  display: block;
  z-index: 2;
  margin-top: -3px;
  left: 0;
}

.main-nav--nojs {
  .main-nav__list {
    display: block;
    z-index: 2;
    margin-top: -4px;
    position: fixed;
    left: 0;
  }

  .main-nav__toggle {
    display: none;
  }
}


@media (min-width: $tablet-width) {
  .main-nav {
    display: block;
    width: 438px;
    height: 100%;
  }

  .main-nav__toggle {
    display: none;
  }

  .main-nav__list {
    display: flex;
    flex-direction: row;
    gap: 34px;
    width: 438px;
    flex-wrap: wrap;
  }
}

@media (min-width: $desktop-width) {
  .main-nav {
    width: 478px;
  }

  .main-nav__toggle {
    display: none;
  }


  .main-nav__list {
    width: 478px;
    gap: 33px;
  }

  .main-nav__list-catalog {
    margin: 0;
    padding: 0;
    width: 480px;
    gap: 34px;
  }
}
