.main-nav__toggle {
  position: absolute;
  z-index: 2;
  display: block;
  margin: 0;
  padding: 0;
  cursor: pointer;
  border: none;
  top: 20px;
  right: 20px;
  width: 24px;
  height: 2px;
  background-color: #000000;
  box-shadow: 0 9px 0 0 #000000, 0 18px 0 0 #000000;
}

.main-nav__toggle:active {
  background-color: fade(#000000, 30%);
  box-shadow:
    0 8px 0 0 fade(#000000, 30%),
    0 16px 0 0 fade(#000000, 30%);
}


.main-nav__list {
  display: none;
}


@media (min-width: $tablet-width) {
  .main-nav {
    display: block;
    width: 436px;
    height: 100%;
  }

  .main-nav__toggle {
    display: none;
  }

  /*.main-nav__wrapper {
    display: grid;
    grid-template-columns: 64px repeat(2, 154px);
    gap: 33px;
    justify-content: start;
    width: 436px;
  }*/

  .main-nav__list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 436px;
  }
}

@media (min-width: $desktop-width) {
  .main-nav__toggle {
    display: none;
  }

  .main-nav__wrapper {
    display: grid;
    grid-template-columns: 1fr repeat(2, 154px);
    gap: 33px;
    justify-content: start;
  }

  .main-nav__list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 475px;
  }
}
