.main-header {
  background-color: #ffffff;
  margin: 0;
  padding: 0;
}

.main-header__wrapper {
  margin: 0 auto;
  padding: 0;
  /*max-height: 65px;*/
}


@media (min-width: $tablet-width) {
  .main-header__wrapper {
    display: grid;
    grid-template-columns: 176px 438px;
    gap: 94px;
    width: 708px;
    align-items: center;
    margin-top: 25px;
    margin-bottom: 65px;
  }
}

@media (min-width: $desktop-width) {
  .main-header__wrapper {
    margin: 0;
    display: grid;
    grid-template-columns: 202px 475px;
    gap: 0;
    width: 1440px;
    align-items: center;
    justify-content: space-between;
    padding: 55px 110px 82px 110px;
    background: linear-gradient(to left, rgba(104, 183, 56, 0.85) 50%, #ffffff 50%);
  }
}
