.main-container {
  margin: 0;
  padding: 0;
}

.main-container__title {
  margin: 0;
  margin-top: 27px;
  margin-bottom: 25px;
  padding: 0;
  padding-left: 35px;
  padding-right: 35px;
  color: #ffffff;
  text-align: center;
  font-size: 36px;
  font-weight: 400;
  line-height: 36px;
  width: 320px;
  order: 0;
}

@media (min-width: $tablet-width) {
  .main-container__title {
    margin: 0;
    margin-bottom: 40px;
    padding: 0;
    color: #000000;
    text-align: start;
    font-size: 60px;
    line-height: 60px;
    width: 506px;
  }
}

@media (min-width: $desktop-width) {
  .main-container__title {
    margin: 0;
    margin-bottom: 40px;
    padding: 0;
    color: #000000;
    text-align: start;
    font-size: 60px;
    line-height: 60px;
    width: 496px;
  }
}
