.main-nav {
  background-color: #ffffff;
  margin: 0;
  padding: 0;
}

.main-nav__wrapper {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

.site-list__item {
  list-style-type: none;
}

