.main-header {
  margin: 0;
  padding: 0;
}

.main-header__wrapper {
  margin: 0;
  padding: 0;
  position: relative;
}


@media (min-width: $tablet-width) {
  .main-header__wrapper {
    display: grid;
    grid-template-columns: 176px 438px;
    column-gap: 94px;
    width: 708px;
    align-items: center;
    margin: 25px 30px 65px 30px;
    max-height: 60px;
  }
}

@media (min-width: $desktop-width) {
  .main-header__wrapper {
    margin: 0;
    margin-bottom: 30px;
    padding: 60px 112px;
    padding-bottom: 0;
    display: grid;
    grid-template-columns: 202px 474px;
    gap: 0;
    width: 1440px;
    max-height: 114px;
    align-items: center;
    justify-content: space-between;
    z-index: 2;
    position: relative;
    background: linear-gradient(to bottom, rgba(104, 183, 56, 0.85) 50% #ffffff 50%);
  }

  .main-header__form {
    padding-top: 20px;
    padding-bottom: 40px;
  }

  .main-header__catalog-wrapper {
    margin-bottom: 74px;
  }
}
