.page__body {
  margin: 0 auto;
  padding: 0;
  width: 320px;
  height: 100%;
}

@media (min-width: $tablet-width) {
  .page__body {
    width: 768px;
  }
}

@media (min-width: $desktop-width) {
  .page__body {
    width: 1440px;
  }
}
