.selection__wrapper {
  padding: 0;
}

.selection__info {
  margin: 0;
  margin-bottom: 39px;
  padding: 0 20px;
  color: #000000;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
}

.selection__form {
  margin: 0;
  padding: 0;
}

.selection__form-questionary,
.selection__program,
.selection__form-contact,
.selection__comment {
  margin: 0;
  padding: 0;
  border: none;
}

.selection__questionary-wrapper,
.selection__contact-wrapper,
.selection__comment-wrapper,
.selection__additionally-wrapper {
  margin-bottom: 20px;
  padding: 0 20px;
  padding-bottom: 24px;
  row-gap: 13px;
  border-bottom: 1px solid #d9d9d9;
  display: flex;
  flex-direction: column;
}

.selection__form-item {
  margin: 0;
  padding: 0;
  color: #444444;
  display: flex;
  align-items: center;
  width: 280px;
  position: relative;
  column-gap: 13px;
  text-transform: uppercase;
}

.selection__form-description {
  margin: 0;
  margin-left: 2px;
  padding: 14px 15px;
  padding-right: 35px;
  padding-bottom: 12px;
  border: 1px solid #e7e7e7;
  box-sizing: border-box;
  width: 100%;
  text-transform: uppercase;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  transition: outline 0.3s ease-in;

  &:hover {
    outline: 1px solid #cdcdcd;
  }

  &:active,
  &:focus {
    outline: 2px solid #444444;
  }
}

.selection__form-description::placeholder {
  color: #444444;
  text-transform: uppercase;
  font-style: inherit;
  width: 100%;
  margin: 0;
  margin-left: 2px;
  padding: 0;
}

.selection__program-wrapper {
  margin-bottom: 26px;
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #d9d9d9;
}

.selection__program-list,
.selection__additionally-list {
  margin: 0;
  padding: 0;
}

.selection__program-item,
.selection__additionally-item {
  color: #444444;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  display: flex;
}

.selection__program-item {
  margin: 0;
  margin-bottom: 13px;
  padding: 0;
}

.selection__program-item:last-child {
  margin-bottom: 0;
  padding-bottom: 19px;
}

.selection__additionally-item {
  margin: 0;
  margin-bottom: 12px;
  padding: 0;
}

.selection__program-item input,
.selection__additionally-item input {
  appearance: none;
  margin: 0;
  padding: 0;
}

.selection__program-description,
.selection__additionally-description {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  gap: 15px;
}

.selection__program-input,
.selection__program-input:checked {
  position: relative;
  border-radius: 50%;
  outline: 1px solid #cdcdcd;
  width: 30px;
  height: 30px;
  box-sizing: border-box;
  transition: outline-color 0.3s ease-in;
  display: flex;
  flex-wrap: wrap;

  &:hover {
    outline-color: #bababa;
  }

  &:disabled {
    opacity: 0.3;
  }
}


.selection__program-input:checked::after {
  content: "";
  position: absolute;
  background-image: url("../img/icons/stack.svg#radio-checked");
  background-repeat: no-repeat;
  background-position: center;
  width: 14px;
  height: 14px;
  top: 8px;
  left: 8px;

  &:disabled {
    opacity: 0.3;
  }
}

.selection__additionally-input,
.selection__additionally-input:checked {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  outline: 1px solid #cdcdcd;
  width: 30px;
  height: 30px;
  box-sizing: border-box;
  transition: outline-color 0.3s ease-in;

  &:hover {
    outline-color: #bababa;
  }

  &:disabled {
    opacity: 0.3;
  }
}

.selection__additionally-input:checked::after {
  content: "";
  position: absolute;
  background-image: url("../img/icons/stack.svg#checkbox-checked");
  background-repeat: no-repeat;
  background-position: center;
  width: 30px;
  height: 30px;
  box-sizing: border-box;

  &:disabled {
    opacity: 0.3;
  }
}

.selection__form-title {
  margin-bottom: 35px;
  padding: 0 20px;
  color: #000000;
  font-size: 24px;
  line-height: 26px;
  position: relative;
}

.selection__form-title::before,
.selection__form-title::after {
  content: "";
  position: absolute;
  height: 2px;
  background-color: #68b738;
  top: 17px;
}

.selection__form-title::before {
  display: none;
}

.selection__form-title::after {
  width: calc(100vw - 100% - ((100vw - 320px) / 2));
  left: calc(100%);
}

.selection__contact-title {
  width: 227px;
  margin-bottom: 34px;
}

.selection__form-email {
  column-gap: 9px;
}

.selection__form-email::after {
  content: "";
  position: absolute;
  mask-image: url("../img/icons/stack.svg#email-vector");
  mask-repeat: no-repeat;
  width: 17px;
  height: 13px;
  right: 15px;
  mask-position: center;
  background-color: #222222;
}

.selection__form-description--error {
  outline: 2px solid #ff8282;
  border: none;
}


.selection__form-phone {
  column-gap: 11px;
}

.selection__form-phone::after {
  content: "";
  position: absolute;
  mask-image: url("../img/icons/stack.svg#phone-vector");
  mask-repeat: no-repeat;
  width: 15px;
  height: 15px;
  right: 15px;
  mask-position: center;
  background-color: #222222;
}

.selection__form-email:focus-within::after,
.selection__form-phone:focus-within::after {
  background-color: #68b738;
}

.selection__contact-wrapper,
.selection__additionally-wrapper {
  border-bottom: none;
  margin-bottom: 0;
}

.selection__comment-wrapper {
  border-bottom: none;
  margin-top: 2px;
  margin-bottom: 0;
}

.selection__form-comment textarea {
  width: 280px;
  height: 150px;
  margin: 0;
  padding: 14px;
  font-family: "Oswald", "Arial", sans-serif;
  color: #444444;
}

.selection__form-textarea::placeholder {
  margin: 0;
  padding: 0;
  max-width: 252px;
}

.selection__additionally {
  margin: 0;
  padding: 0;
  border: none;
}

.selection__additionally-wrapper {
  padding-bottom: 33px;
}

.selection__button {
  margin: 0;
  margin-top: 8px;
  margin-bottom: 21px;
  padding: 10px 0;
  width: 280px;
  border: none;
  box-sizing: border-box;
}

.selection__span {
  margin: 0;
  padding: 0;
  width: 280px;
  display: block;
  text-align: center;
  font-family: "Lato", "Arial", sans-serif;
  font-size: 14px;
  line-height: 16px;
}

@media (min-width: $tablet-width) {
  .selection__wrapper {
    padding: 0 70px;
    width: 768px;
  }

  .selection__info {
    margin-bottom: 64px;
    padding: 0;
    padding-top: 2px;
    padding-left: 1px;
    font-size: 20px;
    line-height: 30px;
    width: 321px;
  }


  .selection__questionary-wrapper,
  .selection__contact-wrapper,
  .selection__comment-wrapper,
  .selection__additionally-wrapper,
  .selection__program-wrapper {
    padding: 0;
    width: 628px;
    gap: 19px;
    border-bottom: none;
  }

  .selection__comment-wrapper {
    margin-bottom: 64px;
  }

  .selection__questionary-wrapper {
    margin-bottom: 72px;
  }

  .selection__form-item {
    width: 628px;
    font-size: 20px;
    line-height: 30px;
  }

  .selection__form-description {
    padding: 10px 20px;
    padding-right: 38px;
    font-family: "Oswald", "Arial", sans-serif;
    font-size: 20px;
    line-height: 30px;
  }

  .selection__program-wrapper {
    margin-bottom: 65px;
    border: 1px solid #d9d9d9;
  }

  .selection__program-list {
    padding-left: 27px;
    padding-top: 27px;
    padding-bottom: 23px;
  }

  .selection__program-item {
    padding: 0;
    font-size: 20px;
    line-height: 30px;
  }

  .selection__program-item:last-child {
    padding-bottom: 0;
  }

  .selection__program-input {
    width: 40px;
    height: 40px;
  }

  .selection__program-input:checked {
    width: 40px;
    height: 40px;
  }

  .selection__program-input:checked::after {
    width: 18px;
    height: 18px;
    top: 11px;
    left: 11px;
  }

  .selection__program-description {
    gap: 20px;
  }

  .selection__form-contact {
    margin-bottom: 67px;
  }

  .selection__contact-title {
    width: auto;
  }

  .selection__form-title {
    margin-bottom: 76px;
    padding: 0;
    font-size: 36px;
    line-height: 36px;
  }

  .selection__form-title::before,
  .selection__form-title::after {
    top: auto;
    bottom: 12px;
  }

  .selection__form-title::before {
    display: block;
    width: calc(((100vw - 768px) / 2) + 50px);
    right: calc(100% + 20px);
  }

  .selection__form-title::after {
    width: calc(100vw - 100% - 90px - ((100vw - 768px) / 2));
    left: calc(100% + 20px);
  }

  .selection__form-email {
    gap: 10px;
  }

  .selection__form-email::after {
    right: 16px;
  }

  .selection__form-phone::after {
    right: 16px;
  }

  .selection__comment-title {
    margin-bottom: 87px;
  }

  .selection__form-comment textarea {
    width: 628px;
    min-height: 175px;
    padding-top: 11px;
    padding-left: 16px;
    font-size: 20px;
    line-height: 30px;
  }

  .selection__additionally-wrapper {
    padding-bottom: 65px;
    gap: 0;
  }

  .selection__additionally-title {
    margin-bottom: 51px;
  }

  .selection__additionally-list {
    width: 628px;
    display: grid;
    grid-template-columns: 344px 284px;
    row-gap: 32px;
  }

  .selection__additionally-item {
    margin-bottom: 0;
    align-items: start;
  }

  .selection__additionally-description {
    gap: 20px;
    font-size: 20px;
    line-height: 30px;
  }

  .selection__additionally-input,
  .selection__additionally-input:checked,
  .selection__additionally-input:checked::after {
    width: 40px;
    height: 40px;
  }

  .selection__button-wrapper {
    width: 628px;
    display: flex;
    margin-top: 43px;
    align-items: center;
    gap: 60px;
  }

  .selection__button {
    margin-bottom: 0;
    padding: 14px 65px;
    width: 285px;
  }

  .selection__span {
    margin-top: 10px;
    text-align: start;
    font-size: 16px;
    line-height: 20px;
  }
}

@media (min-width: $desktop-width) {
  .selection__wrapper {
    padding: 0 110px;
    width: 1440px;
  }

  .selection__form {
    margin: 0;
    padding: 0;
    display: flex;
    width: 1220px;
    flex-wrap: wrap;
    column-gap: 80px;
    row-gap: 69px;
  }

  .selection__questionary-wrapper {
    width: 570px;
    margin: 0;
    padding: 0;
    gap: 20px;
  }

  .selection__program-wrapper {
    width: 570px;
    margin: 0;
    padding: 0;
  }

  .selection__program-description {
    gap: 20px;
  }

  .selection__form-item {
    width: 570px;
  }

  .selection__form-title::before {
    width: calc(((100vw - 1440px) / 2) + 150px);
    right: calc(100% + 40px);
  }

  .selection__form-title::after {
    width: calc(100vw - 100% - 150px - ((100vw - 1440px) / 2));
    left: calc(100% + 40px);
  }

  .selection__form-contact {
    margin: 0;
  }

  .selection__contact-wrapper {
    width: 1220px;
    display: grid;
    grid-template-columns: repeat(2, 570px);
    column-gap: 80px;
  }

  .selection__comment-wrapper {
    margin-bottom: 0;
    width: 1220px;
  }

  .selection__comment-title {
    margin-bottom: 78px;
  }

  .selection__form-comment {
    width: 1220px;
  }

  .selection__form-comment textarea {
    width: 1220px;
    padding-top: 8px;
    padding-left: 20px;
  }

  .selection__additionally-wrapper {
    width: 1220px;
    padding-bottom: 79px;
  }

  .selection__additionally-title {
    margin-bottom: 57px;
  }

  .selection__additionally-list {
    width: 1220px;
    display: grid;
    grid-template-columns: repeat(4, 325px);
  }

  .selection__additionally-item {
    width: 220px;
  }

  .selection__button-wrapper {
    margin-top: 53px;
    width: 1220px;
    gap: 82px;
  }

  .selection__button {
    margin-bottom: 0;
    padding: 14px 208px;
    width: 571px;
  }

  .selection__span {
    margin-top: 6px;
  }
}
