.site-list {
  margin: 0;
  padding: 0;
}

.site-list__item {
  margin: 0;
  padding: 0;
  padding-top: 24px;
  padding-bottom: 24px;
  list-style-type: none;
}

.site-list__link {
  color: #000000;
  font-size: 20px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
}
