.social {
  margin: 0;
  padding: 0;
}

.social__list {
  margin: 20px auto;
  padding: 0;
  list-style-type: none;
  width: 132px;
  display: grid;
  grid-template-columns: repeat(3, 28px);
  gap: 24px;
}

.social__item {
  margin: 0;
  padding: 0;
  max-height: 22px;
}

.social__link {
  margin: 0;
  padding: 0;
  width: 28px;
  color: #666666;


  &:hover {
    color: #68b738;
    transition-duration: 0.3s;
  }

  &:focus {
    color: #68b738;
    transition-duration: 0.3s;
    outline: none;
  }

  &:active {
    color: #68b738;
    opacity: 0.3;
  }
}

.social__link--v,
.social__link--youtube,
.social__link--telegram {
  margin: 0;
  padding: 0;
}


@media (min-width: $tablet-width) {
  .social__list {
    margin: 0;
    margin-left: 160px;
  }
}

@media (min-width: $desktop-width) {
  .social__list {
    margin: 0;
    margin-left: 416px;
  }
}
