.stats {
  margin: 0;
  padding: 0;
}

.stats__wrapper {
  margin: 0;
  padding: 0 20px;
  padding-top: 25px;
  width: 100%;
  background-color: #eaeaea;
  display: flex;
  flex-direction: column;
}


.stats__title {
  margin: 0;
  margin-bottom: 40px;
  padding: 0;
  color: #000000;
  font-size: 36px;
  font-weight: 400;
  line-height: 40px;
}

.stats__info {
  margin: 0;
  margin-bottom: 20px;
  padding: 0;
  width: 280px;
  color: #444444;
  font-family: "Lato", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
}

.stats__list {
  margin: 0;
  margin-bottom: 13px;
  padding: 0;
  width: 280px;
  display: grid;
  grid-template-columns: repeat(2, 124px);
  column-gap: 32px;
}

.stats__item {
  margin: 0;
  margin-bottom: 20px;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  border: 1px solid #cdcdcd;
  border-radius: 3px;
}

.stats__number {
  margin: 0;
  padding: 0;
  padding-top: 14px;
  padding-bottom: 8px;
  color: #000000;
  text-align: center;
  font-size: 24px;
  font-weight: 400;
  line-height: 24px;
  text-transform: uppercase;
}

.stats__description {
  margin: 0 10px;
  margin-bottom: -15px;
  padding: 0;
  max-width: 77px;
  color: #444444;
  text-align: center;
  font-family: "Lato", sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 12px;
  background-color: #eaeaea;
}


.stats__span {
  margin: 0;
  margin-bottom: 20px;
  padding: 0;
  padding-left: 47px;
  color: #000000;
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
  display: flex;
  gap: 4px;
}

.stats__span p {
  margin: 0;
}

.stats-sliders {
  margin: 0;
  padding: 0;
  padding-bottom: 36px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  position: relative;
}


.stats-sliders__before,
.stats-sliders__after {
  width: 140px;
  height: 256px;
  color: #666666;
}

.stats__slider-icon {
  margin: 0;
  padding: 0;
  border: none;

  &:default {
    .stats__slider-height-scale {
      background-color: #666666;
      transition: background-color 0.3s ease-in;
    }

    .stats__slider-arrows {
      color: #666666;
      transition: color 0.3s ease-in;
    }

    .stats__slider-ring-scale {
      border-color: #666666;
      transition: border-color 0.3s ease-in;
    }
  }

  &:hover {
    .stats__slider-height-scale {
      background-color: #68b738;
    }

    .stats__slider-arrows {
      color: #68b738;
    }

    .stats__slider-ring-scale {
      border-color: #68b738;
    }
  }

  &:active {
    .stats__slider-height-scale {
      background-color: #5eaa2f;
    }

    .stats__slider-arrows {
      color: #5eaa2f;
    }

    .stats__slider-ring-scale {
      border-color: #5eaa2f;
    }
  }
}

.stats__slider-height-scale {
  width: 4px;
  height: 256px;
  position: absolute;
  left: 138px;
  top: 0;
  background-color: #666666;
  border-radius: 2px;
  z-index: 0;
}

.stats__slider-arrows {
  margin: 0;
  position: absolute;
  left: 6px;
  top: 10px;
  width: 24px;
  height: 18px;
  color: #666666;
  z-index: 1;
}


.stats__slider-ring-scale {
  width: 40px;
  height: 40px;
  border: 2px solid #666666;
  border-radius: 50px;
  position: absolute;
  left: 121px;
  top: 108px;
  background-color: #ffffff;
  z-index: 0;
}

@media (min-width: $tablet-width) {
  .stats__wrapper {
    margin: 45px auto 0;
    padding: 0 30px;
    width: 768px;
    background: linear-gradient(to bottom, #ffffff 574px, #eaeaea 462px);
  }

  .stats__title {
    margin: 0;
    margin-bottom: 59px;
    padding: 0;
    font-size: 60px;
    line-height: 60px;
  }

  .stats__info {
    margin: 0 auto;
    margin-bottom: 55px;
    width: 708px;
    font-size: 16px;
    line-height: 24px;
  }

  .stats__list-wrapper {
    display: flex;
    margin: 0;
    padding: 0;
    width: 768px;
  }

  .stats__list {
    width: 367px;
    grid-template-columns: repeat(2, 162px);
    column-gap: 43px;
  }

  .stats__item {
    margin: 0;
  }

  .stats__number {
    padding-top: 15px;
    padding-bottom: 10px;
    font-size: 30px;
    line-height: 37px;
  }

  .stats__description {
    padding: 0 5px;
    margin-bottom: -5px;
    max-width: 135px;
    font-size: 14px;
    line-height: 14px;
    background-color: #ffffff;
  }

  .stats__span {
    margin: 0;
    margin-left: 166px;
    padding: 0;
    padding-top: 6px;
    text-align: end;
    font-size: 20px;
    line-height: 30px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: flex-start;
    width: 174px;
    gap: 0;
  }

  .stats-sliders {
    margin: 0 auto;
    margin-top: 90px;
    margin-bottom: 101px;
    padding: 0;
    width: 560px;
    height: 512px;
    justify-content: center;
    object-fit: cover;
  }

  .stats-sliders__before,
  .stats-sliders__after {
    width: 280px;
    height: 512px;
  }

  .stats__slider-height-scale {
    height: 512px;
    left: 278px;
  }

  .stats__slider-ring-scale {
    left: 261px;
    top: 236px;
  }
}

@media (min-width: $desktop-width) {
  .stats__wrapper {
    position: relative;
    margin: 0;
    padding: 0 111px;
    padding-bottom: 73px;
    width: 1440px;
    background: linear-gradient(to top, #f2f2f2 464px, #ffffff 75px);
  }

  .stats__title {
    margin-bottom: 74px;
  }

  .stats__info {
    margin: 70px 0 69px 0;
    width: 436px;
  }

  .stats__list-wrapper {
    width: 436px;
    flex-wrap: wrap;
    gap: 42px;
  }

  .stats__description {
    background-color: #f2f2f2;
    padding-top: 1px;
  }


  .stats__span {
    margin-left: 2px;
    padding-top: 0;
    width: 325px;
    flex-direction: row;
    justify-content: space-between;
  }

  .stats-sliders {
    margin: 0;
    position: absolute;
    top: 0;
    right: 110px;
    padding: 0;
    background-position: center;
  }
}
