*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
  object-fit: contain;
}

a {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  margin: 0;
  padding: 0;
  background-color: #ffffff;
  font-family: "Oswald", sans-serif;
}

@font-face {
  font-family: "Lato";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/lato/Lato-Regular.woff2") format("woff2"), url("../fonts/lato/Lato-Regular.woff") format("woff");
}
@font-face {
  font-family: "Oswald";
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/oswald/oswaldmedium.woff2") format("woff2"), url("../fonts/oswald/oswaldmedium.woff") format("woff");
}
@font-face {
  font-family: "Oswald";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/oswald/oswaldregular.woff2") format("woff2"), url("../fonts/oswald/oswaldregular.woff") format("woff");
}
.page__body {
  margin: 0 auto;
  padding: 0;
  width: 320px;
}

@media (min-width: 768px) {
  .page__body {
    width: 768px;
  }
}
@media (min-width: 1440px) {
  .page__body {
    width: 1440px;
  }
}
.button {
  color: #ffffff;
  background-color: #68b738;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
  text-decoration: none;
}

@media (min-width: 768px) {
  .button {
    font-size: 20px;
    line-height: 26px;
  }
}
.main-header {
  background-color: #ffffff;
  margin: 0;
  padding: 0;
}

.main-header__wrapper {
  margin: 0 auto;
  padding: 0;
  display: flex;
  width: 280px;
}

@media (min-width: 768px) {
  .main-header__wrapper {
    display: grid;
    grid-template-columns: 176px 438px;
    gap: 94px;
    width: 708px;
    align-items: center;
    margin-top: 25px;
    margin-bottom: 65px;
  }
}
@media (min-width: 1440px) {
  .main-header__wrapper {
    display: grid;
    grid-template-columns: 202px 475px;
    gap: 0;
    width: 1440px;
    align-items: center;
    justify-content: space-between;
    margin: 0;
    padding: 55px 110px 82px 110px;
    background: linear-gradient(to left, rgba(104, 183, 56, 0.85) 50%, #ffffff 50%);
  }
}
.logo {
  margin: 0;
  padding: 0;
}

.logo__wrapper {
  margin: 0 auto;
  display: flex;
  width: 280px;
}

.logo__icon {
  margin: 13px 0;
  padding: 0;
  width: 33px;
  height: 38px;
}

.logo__text--header {
  padding: 0;
  margin: 23px 65px 24px 56px;
  width: 101px;
  height: 18px;
  display: flex;
}

.logo__text--footer {
  margin: 0 auto 20px;
  padding: 0;
  width: 128px;
  height: 24px;
}

@media (min-width: 768px) {
  .logo__wrapper {
    width: 176px;
    justify-content: space-between;
    align-items: center;
  }

  .logo__icon {
    margin: 0;
    width: 60px;
    height: 50px;
  }

  .logo__text--header {
    padding: 16px 0;
    margin: 0;
    width: 101px;
    height: 50px;
    display: flex;
  }
}
.main-nav {
  background-color: #ffffff;
  margin: 0;
  padding: 0;
  display: none;
}

.main-nav__wrapper {
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  align-self: center;
  justify-content: center;
}

.main-nav__toggle {
  width: 24px;
}

.main-nav__list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  width: 320px;
}

@media (min-width: 768px) {
  .main-nav {
    display: block;
  }

  .main-nav__wrapper {
    display: grid;
    grid-template-columns: 1fr repeat(2, 154px);
    gap: 33px;
    justify-content: start;
  }

  .main-nav__toggle {
    display: none;
  }

  .main-nav__list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 436px;
  }
}
@media (min-width: 1440px) {
  .main-nav__wrapper {
    display: grid;
    grid-template-columns: 1fr repeat(2, 154px);
    gap: 33px;
    justify-content: start;
    background-color: rgba(104, 183, 56, 0.85);
  }

  .main-nav__toggle {
    display: none;
  }

  .main-nav__list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 475px;
  }
}
.site-list {
  margin: 0;
  padding: 0;
}

.site-list__item {
  margin: 0;
  padding: 0;
  padding-top: 24px;
  padding-bottom: 24px;
  list-style-type: none;
}

.site-list__link {
  color: #000000;
  font-size: 20px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
}

@media (min-width: 768px) {
  .site-list__item {
    margin: 0;
    padding: 13px 0;
    list-style-type: none;
  }

  .site-list__link {
    font-size: 18px;
    line-height: 24px;
  }
}
@media (min-width: 1440px) {
  .site-list__link {
    color: #ffffff;
  }
}
.main-container {
  margin: 0;
  padding: 0;
}

.main-container__title {
  margin: 0;
  margin-top: 27px;
  margin-bottom: 25px;
  padding: 0;
  padding-left: 35px;
  padding-right: 35px;
  color: #ffffff;
  text-align: center;
  font-size: 36px;
  font-weight: 400;
  line-height: 36px;
  width: 320px;
  order: 0;
}

@media (min-width: 768px) {
  .main-container__title {
    margin: 0;
    margin-bottom: 40px;
    padding: 0;
    color: #000000;
    text-align: start;
    font-size: 60px;
    line-height: 60px;
    width: 506px;
  }
}
@media (min-width: 1440px) {
  .main-container__title {
    margin: 0;
    margin-bottom: 40px;
    padding: 0;
    color: #000000;
    text-align: start;
    font-size: 60px;
    line-height: 60px;
    width: 496px;
  }
}
.hero {
  margin: 0;
  padding: 0;
}

.hero__wrapper {
  margin: 0 auto;
  padding: 0;
  width: 320px;
  display: flex;
  flex-direction: column;
  background: linear-gradient(to bottom, rgba(104, 183, 56, 0.85) 302px, #ffffff 135px);
}

.hero__slogan {
  margin: 0;
  margin-bottom: 29px;
  padding: 0;
  color: #ffffff;
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
  text-transform: uppercase;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  width: 320px;
}

.hero__image {
  margin: 0 20px;
  margin-bottom: 3px;
  padding: 0;
  width: 280px;
  height: 270px;
}

.hero__choose-program {
  margin: 0 auto;
  padding: 10px 44px;
  width: 280px;
  display: flex;
  justify-content: center;
}

@media (min-width: 768px) {
  .hero__wrapper {
    width: 708px;
    margin: 0 auto;
    padding-left: 90px;
    background: #ffffff;
    display: flex;
    flex-direction: column;
  }

  .hero__slogan {
    color: #000000;
    font-size: 20px;
    line-height: 20px;
    width: 373px;
    padding: 0;
    justify-content: start;
    order: 1;
  }

  .hero__image {
    margin: 0;
    width: 708px;
    height: 608px;
    display: block;
    order: 3;
  }

  .hero__choose-program {
    margin: 0;
    padding: 14px 26px;
    width: 244px;
    order: 2;
  }
}
@media (min-width: 1440px) {
  .hero__wrapper {
    width: 1440px;
    padding-left: 80px;
    background: linear-gradient(to left, rgba(104, 183, 56, 0.85) 50%, #ffffff 50%);
  }

  .hero__slogan {
    color: #000000;
    font-size: 20px;
    line-height: 20px;
    width: 373px;
    padding: 0;
    order: 1;
  }

  .hero__image {
    width: 522px;
    height: 499px;
    display: block;
    order: 3;
  }

  .hero__choose-program {
    margin: 0;
    padding: 14px 26px;
    width: 244px;
    order: 2;
  }
}
.choice {
  margin: 0;
  padding: 0;
}

.choice__wrapper {
  margin: 20px auto;
  padding: 0;
  width: 280px;
  display: flex;
}

.choice__list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 20px;
  list-style-type: none;
}

.choice__item {
  margin: 0;
  padding: 0 20px 18px 20px;
  width: 280px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  background-color: #f2f2f2;
}

.choice__title {
  margin: 0;
  margin-top: 30px;
  margin-bottom: 29px;
  padding: 0;
  color: #000000;
  font-size: 24px;
  font-weight: 400;
  line-height: 37px;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
}

.choice__description {
  margin: 0;
  margin-bottom: 23px;
  padding: 0;
  width: 227px;
  color: #444444;
  font-family: "Lato", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
}

.choice__link {
  margin: 0;
  margin-top: 15px;
  padding: 0;
  text-decoration: none;
  color: #000000;
  font-size: 16px;
  font-weight: 400;
  text-transform: uppercase;
}

@media (min-width: 768px) {
  .choice__wrapper {
    margin: 0 auto 45px;
    width: 708px;
  }

  .choice__list {
    gap: 30px;
  }

  .choice__item {
    margin: 0;
    padding: 0 0 57px 52px;
    width: 708px;
  }

  .choice__title {
    margin-top: 77px;
    margin-bottom: 24px;
    font-size: 36px;
    line-height: 36px;
    justify-content: start;
  }

  .choice__description {
    margin-bottom: 52px;
    width: 340px;
    font-size: 16px;
    line-height: 24px;
  }

  .choice__link {
    margin-top: 0;
    font-size: 20px;
  }
}
@media (min-width: 1440px) {
  .choice__wrapper {
    margin: 82px auto 71px;
    width: 1220px;
  }

  .choice__list {
    display: grid;
    grid-template-columns: repeat(2, 570px);
    gap: 80px;
  }

  .choice__item {
    margin: 0;
    padding: 0 0 59px 52px;
    width: 570px;
  }

  .choice__title {
    margin-bottom: 73px;
  }

  .choice__description {
    margin-bottom: 27px;
    width: 457px;
    font-size: 16px;
    line-height: 24px;
  }

  .choice__link {
    margin-top: 0;
    font-size: 20px;
  }
}
.advantages {
  margin: 0;
  padding: 0;
}

.advantages__wrapper {
  margin: 0 auto 49px;
  padding: 0;
  width: 280px;
}

.advantages__title {
  margin: 0;
  margin-bottom: 40px;
  padding: 0;
  color: #000000;
  font-size: 36px;
  font-weight: 400;
  line-height: 40px;
}

.advantages__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  row-gap: 20px;
  display: grid;
  grid-template-columns: 1fr;
}

.advantages__item {
  margin: 0;
  padding: 0;
  max-width: 200px;
}

.advantages__description {
  margin: 0;
  padding: 0;
  color: #444444;
  font-family: "Lato", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
}

@media (min-width: 768px) {
  .advantages__wrapper {
    margin: 0 auto 47px;
    width: 708px;
  }

  .advantages__title {
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 32px;
  }

  .advantages__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 137px;
    row-gap: 37px;
  }

  .advantages__item {
    padding-top: 151px;
    padding-bottom: 57px;
    max-width: 245px;
  }

  .advantages__description {
    font-size: 16px;
    line-height: 24px;
  }
}
@media (min-width: 1440px) {
  .advantages__wrapper {
    margin: 0 auto 70px;
    width: 1220px;
  }

  .advantages__list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: space-between;
    gap: 0;
  }
}
.stats {
  margin: 0;
  padding: 0;
}

.stats__wrapper {
  margin: 0;
  padding: 0 20px;
  padding-top: 25px;
  width: 320px;
  background-color: #eaeaea;
  display: flex;
  flex-direction: column;
}

.stats__title {
  margin: 0;
  margin-bottom: 40px;
  padding: 0;
  color: #000000;
  font-size: 36px;
  font-weight: 400;
  line-height: 40px;
}

.stats__info {
  margin: 0;
  margin-bottom: 20px;
  padding: 0;
  width: 280px;
  color: #444444;
  font-family: "Lato", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
}

.stats__list {
  margin: 0;
  padding: 0;
  width: 280px;
  display: grid;
  grid-template-columns: repeat(2, 124px);
  column-gap: 32px;
}

.stats__item {
  margin: 0;
  margin-bottom: 20px;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.stats__number {
  margin: 0;
  padding: 0;
  padding-top: 14px;
  padding-bottom: 18px;
  color: #000000;
  text-align: center;
  font-size: 24px;
  font-weight: 400;
  line-height: 24px;
}

.stats__description {
  margin: 0;
  padding: 0;
  max-width: 77px;
  color: #444444;
  text-align: center;
  font-family: "Lato", sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 12px;
}

.stats__span {
  margin: 0;
  margin-bottom: 20px;
  padding: 0;
  color: #000000;
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
}

@media (min-width: 768px) {
  .stats__wrapper {
    margin: 45px auto 0;
    padding: 0;
    width: 708px;
    background-color: #ffffff;
  }

  .stats__title {
    margin: 0;
    margin-bottom: 60px;
    padding: 0;
    font-size: 60px;
    line-height: 60px;
  }

  .stats__info {
    margin: 0 auto;
    margin-bottom: 55px;
    width: 708px;
    font-size: 16px;
    line-height: 24px;
  }

  .stats__list {
    margin: 0;
    margin-bottom: 99px;
    padding: 0;
    width: 367px;
    display: grid;
    grid-template-columns: repeat(2, 162px);
    column-gap: 43px;
    justify-content: start;
  }

  .stats__item {
    margin: 0;
  }

  .stats__number {
    padding-top: 15px;
    padding-bottom: 11px;
    font-size: 30px;
    line-height: 37px;
  }

  .stats__description {
    margin: 0;
    padding: 0;
    max-width: 125px;
    font-size: 14px;
    line-height: 14px;
  }

  .stats__span {
    margin: 0;
    padding: 0;
    text-align: end;
    font-size: 20px;
    line-height: 20px;
    display: flex;
    flex-wrap: wrap;
    width: 174px;
    order: 0;
  }
}
@media (min-width: 1440px) {
  .stats__wrapper {
    margin: 0;
    padding: 0 110px;
    width: 1440px;
    background: linear-gradient(to top, #f2f2f2 462px, #ffffff 75px);
  }

  .stats__title {
    margin-bottom: 75px;
  }

  .stats__info {
    margin: 0;
    margin-bottom: 75px;
    width: 436px;
  }
}
.contacts {
  margin: 0;
  padding: 0;
}

.contacts__wrapper {
  margin: 0;
  padding: 26px 20px;
  display: grid;
  grid-template-columns: repeat(2, 140px);
}

.contacts__slogan {
  margin: 0;
  padding: 0;
  width: 140px;
  color: #111111;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
}

.contacts__address {
  margin: 0;
  padding: 0;
  width: 140px;
  color: #444444;
  font-family: "Lato", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}

.contacts__image {
  margin: 0;
  padding: 0;
  width: 320px;
  height: 362px;
  object-fit: contain;
}

@media (min-width: 768px) {
  .contacts__wrapper {
    padding: 60px 70px;
    width: 768px;
    grid-template-columns: 163px 157px;
    justify-content: space-between;
  }

  .contacts__slogan {
    width: 163px;
    font-size: 20px;
    line-height: 26px;
  }

  .contacts__address {
    width: 157px;
    text-align: right;
    font-size: 16px;
  }
}
@media (min-width: 1440px) {
  .contacts__wrapper {
    margin-top: 95px;
    margin-left: 110px;
    margin-bottom: 106px;
    padding: 60px 78px;
    width: 565px;
  }

  .contacts__address {
    text-align: left;
  }
}
.address {
  margin: 0;
  padding: 0;
  color: #444444;
}

.main-footer {
  margin: 0;
  padding: 0;
}

.main-footer__wrapper {
  margin: 0;
  padding: 40px 20px;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #f2f2f2;
}

.main-footer__social {
  margin: 0;
  padding: 0;
}

.main-footer__copyright {
  margin: 0 auto;
  padding: 0;
}

@media (min-width: 768px) {
  .main-footer__wrapper {
    padding: 55px 30px;
    width: 768px;
    display: grid;
    grid-template-columns: 128px 132px 168px;
    justify-content: space-between;
    align-items: center;
  }
}
@media (min-width: 1440px) {
  .main-footer__wrapper {
    padding: 66px 110px;
    width: 1440px;
  }
}
.social {
  margin: 0;
  padding: 0;
}

.social__list {
  margin: 20px auto;
  padding: 0;
  list-style-type: none;
  width: 132px;
  display: grid;
  grid-template-columns: repeat(3, 28px);
  gap: 24px;
}

.social__item {
  margin: 0;
  padding: 0;
  max-height: 22px;
}

.social__link {
  margin: 0;
  padding: 0;
  width: 28px;
}

.social__link--v,
.social__link--youtube,
.social__link--telegram {
  margin: 0;
  padding: 0;
}

@media (min-width: 768px) {
  .social__list {
    margin: 0;
  }
}
.copyright {
  margin: 0;
  padding: 0;
}

.copyright__wrapper {
  margin: 0;
  margin-top: 20px;
  padding: 0;
  width: 280px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.copyright__link {
  margin: 0;
  padding: 0;
  width: 112px;
  height: 15px;
}

.copyright__icon {
  margin: 0;
  padding: 0;
  width: 27px;
  height: 34px;
}

@media (min-width: 768px) {
  .copyright__wrapper {
    width: 168px;
    margin: 0;
  }
}
/*# sourceMappingURL=style.css.map */