*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
  object-fit: contain;
}

a {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  margin: 0;
  padding: 0;
  background-color: #ffffff;
  font-family: "Oswald", sans-serif;
}

@font-face {
  font-family: "Lato";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/lato/Lato-Regular.woff2") format("woff2"), url("../fonts/lato/Lato-Regular.woff") format("woff");
}
@font-face {
  font-family: "Oswald";
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/oswald/oswaldmedium.woff2") format("woff2"), url("../fonts/oswald/oswaldmedium.woff") format("woff");
}
@font-face {
  font-family: "Oswald";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/oswald/oswaldregular.woff2") format("woff2"), url("../fonts/oswald/oswaldregular.woff") format("woff");
}
.page__body {
  margin: 0 auto;
  padding: 0;
  width: 320px;
}

@media (min-width: 768px) {
  .page__body {
    width: 768px;
  }
}
@media (min-width: 1440px) {
  .page__body {
    width: 1440px;
  }
}
.button {
  color: #ffffff;
  background-color: #68b738;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
  text-decoration: none;
}

@media (min-width: 768px) {
  .button {
    font-size: 20px;
    line-height: 26px;
  }
}
.main-header {
  margin: 0;
  padding: 0;
}

.main-header__wrapper {
  margin: 0 auto;
  padding: 0;
  max-height: 65px;
}

@media (min-width: 768px) {
  .main-header__wrapper {
    display: grid;
    grid-template-columns: 176px 438px;
    column-gap: 94px;
    width: 708px;
    align-items: center;
    margin-top: 25px;
    margin-bottom: 65px;
    max-height: 60px;
  }
}
@media (min-width: 1440px) {
  .main-header {
    position: relative;
  }

  .main-header::before {
    content: "";
    position: absolute;
    background-image: url("../img/hero/index-background-desktop.png");
    background-repeat: no-repeat;
    width: 720px;
    height: 694px;
    top: 0;
    right: 0;
    z-index: -1;
  }

  .main-header__wrapper {
    margin: 0;
    display: grid;
    grid-template-columns: 202px 475px;
    gap: 0;
    width: 1440px;
    align-items: center;
    justify-content: space-between;
    padding: 55px 110px 82px 110px;
    background: linear-gradient(to left, rgba(104, 183, 56, 0.85) 50%, #ffffff 50%);
  }
}
.logo {
  margin: 0;
  padding: 0;
}

.logo__wrapper {
  margin: 0 auto;
  padding: 0 20px;
  display: flex;
  width: 320px;
}

.logo__icon {
  margin: 13px 0;
  padding: 0;
  width: 33px;
  height: 38px;
}

.logo__text--header {
  padding: 0;
  margin: 23px 65px 24px 56px;
  width: 101px;
  height: 18px;
  display: flex;
}

.logo__text--footer {
  margin: 0 auto 20px;
  padding: 0;
  width: 128px;
  height: 24px;
}

@media (min-width: 768px) {
  .logo__wrapper {
    width: 176px;
    justify-content: space-between;
    align-items: center;
  }

  .logo__icon {
    margin: 0;
    margin-right: 13px;
    width: 60px;
    height: 50px;
  }

  .logo__text--header {
    padding: 16px 0;
    margin: 0;
    width: 101px;
    height: 50px;
    display: flex;
  }
}
@media (min-width: 1440px) {
  .logo__wrapper {
    margin: 0;
    padding: 0;
  }

  .logo__icon {
    margin-right: 14px;
    width: 70px;
    height: 51px;
  }

  .logo__text--header {
    padding: 19px 0;
    width: 118px;
    height: 59px;
  }
}
.main-nav__toggle {
  position: absolute;
  z-index: 2;
  display: block;
  margin: 0;
  padding: 0;
  cursor: pointer;
  border: none;
  top: 20px;
  right: 20px;
  width: 24px;
  height: 2px;
  background-color: #000000;
  box-shadow: 0 9px 0 0 #000000, 0 18px 0 0 #000000;
}

.main-nav__toggle:active {
  background-color: fade(#000000, 30%);
  box-shadow: 0 8px 0 0 fade(#000000, 30%), 0 16px 0 0 fade(#000000, 30%);
}

.main-nav__list {
  display: none;
}

@media (min-width: 768px) {
  .main-nav {
    display: block;
    width: 436px;
    height: 100%;
  }

  .main-nav__toggle {
    display: none;
  }

  /*.main-nav__wrapper {
    display: grid;
    grid-template-columns: 64px repeat(2, 154px);
    gap: 33px;
    justify-content: start;
    width: 436px;
  }*/
  .main-nav__list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 436px;
  }
}
@media (min-width: 1440px) {
  .main-nav__toggle {
    display: none;
  }

  .main-nav__wrapper {
    display: grid;
    grid-template-columns: 1fr repeat(2, 154px);
    gap: 33px;
    justify-content: start;
  }

  .main-nav__list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 475px;
  }
}
.site-list {
  margin: 0;
  padding: 0;
}

.site-list a {
  width: 320px;
  border: 1px solid #e6e6e6;
  border-bottom: none;
  position: relative;
  display: flex;
  padding-top: 24px;
  padding-bottom: 24px;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
}

.site-list__item {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.site-list__link {
  color: #000000;
  font-size: 20px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
}

@media (min-width: 768px) {
  .site-list a {
    border: none;
    padding: 0;
    width: auto;
    display: block;
    padding-top: 12px;
    padding-bottom: 12px;
  }

  .site-list__item {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }

  .site-list__item--current {
    border-bottom: 2px solid #68b738;
  }

  .site-list__link {
    font-size: 18px;
    line-height: 24px;
  }
}
@media (min-width: 1440px) {
  .site-list__link {
    color: #ffffff;
  }

  .site-list a {
    background-color: inherit;
    padding-top: 8px;
    padding-bottom: 8px;
  }

  .site-list__item--current {
    border-bottom: 2px solid #ffffff;
  }
}
.main-container {
  margin: 0;
  padding: 0;
}

.main-container__title {
  margin: 0;
  margin-top: 27px;
  margin-bottom: 25px;
  padding: 0;
  padding-left: 35px;
  padding-right: 35px;
  color: #ffffff;
  text-align: center;
  font-size: 36px;
  font-weight: 400;
  line-height: 36px;
  width: 320px;
  order: 0;
}

@media (min-width: 768px) {
  .main-container__title {
    margin: 0;
    margin-bottom: 40px;
    padding: 0;
    color: #000000;
    text-align: start;
    font-size: 60px;
    line-height: 60px;
    width: 506px;
  }
}
@media (min-width: 1440px) {
  .main-container__title {
    margin: 0;
    margin-bottom: 40px;
    padding: 0;
    color: #000000;
    text-align: start;
    font-size: 60px;
    line-height: 60px;
    width: 496px;
  }
}
.hero {
  margin: 0;
  padding: 0;
}

.hero__wrapper {
  margin: 0 auto;
  padding: 0;
  width: 320px;
  display: flex;
  flex-direction: column;
  background: linear-gradient(to bottom, rgba(104, 183, 56, 0.85) 302px, #ffffff 135px);
}

.hero__slogan {
  margin: 0;
  margin-bottom: 29px;
  padding: 0;
  color: #ffffff;
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
  text-transform: uppercase;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  width: 320px;
}

.hero__image {
  margin: 0 20px;
  margin-bottom: 3px;
  padding: 0;
  width: 280px;
  height: 270px;
}

.hero__choose-program {
  margin: 0 auto;
  padding: 10px 44px;
  width: 280px;
  display: flex;
  justify-content: center;
}

@media (min-width: 768px) {
  .hero__wrapper {
    width: 708px;
    margin: 0 auto;
    padding-left: 90px;
    background: #ffffff;
    display: flex;
    flex-direction: column;
  }

  .hero__slogan {
    color: #000000;
    font-size: 20px;
    line-height: 20px;
    width: 373px;
    padding: 0;
    justify-content: start;
    margin-bottom: 21px;
  }

  .hero__image {
    margin: 0;
    margin-top: -83px;
    margin-left: -90px;
    width: 708px;
    height: 608px;
    order: 1;
    outline: 1px solid red;
  }

  .hero__choose-program {
    margin: 0;
    margin-top: 29px;
    padding: 14px 26px;
    width: 244px;
    z-index: 0;
    order: 0;
  }
}
@media (min-width: 1440px) {
  .hero__wrapper {
    width: 1440px;
    padding-left: 190px;
    background: linear-gradient(to left, rgba(104, 183, 56, 0.85) 50%, #ffffff 50%);
    position: relative;
    margin-bottom: 82px;
  }

  .hero__slogan {
    color: #000000;
    font-size: 20px;
    line-height: 20px;
    width: 373px;
    padding: 0;
    margin-bottom: 51px;
  }

  .hero__image {
    width: 522px;
    height: 499px;
    display: block;
    order: 3;
    position: absolute;
    margin-top: 143px;
    margin-left: 557px;
  }

  .hero__choose-program {
    margin: 0;
    padding: 14px 26px;
    width: 244px;
    order: 2;
  }
}
.choice {
  margin: 0;
  padding: 0;
}

.choice__wrapper {
  margin: 20px auto;
  padding: 0;
  width: 280px;
  display: flex;
}

.choice__list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 20px;
  list-style-type: none;
}

.choice__item {
  margin: 0;
  padding: 0 20px 18px 20px;
  width: 280px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  background-color: #f2f2f2;
}

.choice__item--weight-loss {
  position: relative;
}

.choice__item--weight-loss::before {
  content: "";
  position: absolute;
  background-image: url("../img/choice/cat-slim.svg");
  background-repeat: no-repeat;
  width: 50px;
  height: 53px;
  top: 21px;
  left: 20px;
}

.choice__item--weight-gain {
  position: relative;
}

.choice__item--weight-gain::before {
  content: "";
  position: absolute;
  background-image: url("../img/choice/cat-pro.svg");
  background-repeat: no-repeat;
  width: 67px;
  height: 53px;
  top: 24px;
  left: 13px;
}

.choice__title {
  margin: 30px 0 29px 0;
  padding: 0;
  padding-left: 90px;
  color: #000000;
  font-size: 24px;
  font-weight: 400;
  line-height: 37px;
  text-transform: uppercase;
  display: flex;
  justify-content: start;
}

.choice__description {
  margin: 0;
  padding: 0;
  padding-bottom: 23px;
  padding-right: 13px;
  width: 240px;
  color: #444444;
  font-family: "Lato", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  border-bottom: 1px solid #d9d9d9;
}

.choice__link {
  margin: 0;
  margin-top: 15px;
  padding: 4px 0;
  text-decoration: none;
  color: #000000;
  font-size: 16px;
  font-weight: 400;
  text-transform: uppercase;
  position: relative;
  max-width: 140px;
}

.choice__link::after {
  content: "";
  position: absolute;
  width: 32px;
  height: 10px;
  background-image: url("../img/choice/icon-arrow.svg");
  background-repeat: no-repeat;
  top: 50%;
  transform: translateY(-50%);
  left: auto;
  margin-left: 15px;
}

@media (min-width: 768px) {
  .choice__wrapper {
    margin: 0 auto 45px;
    width: 708px;
  }

  .choice__list {
    gap: 30px;
  }

  .choice__item {
    margin: 0;
    padding: 0 0 53px 52px;
    width: 708px;
  }

  .choice__item--weight-loss::before {
    width: 200px;
    height: 200px;
    top: 92px;
    left: 445px;
  }

  .choice__item--weight-gain::before {
    width: 268px;
    height: 200px;
    top: 92px;
    left: 416px;
  }

  .choice__title {
    margin-top: 77px;
    margin-bottom: 24px;
    font-size: 36px;
    line-height: 36px;
    justify-content: start;
    padding-left: 0;
  }

  .choice__description {
    margin-bottom: 52px;
    width: 340px;
    font-size: 16px;
    line-height: 24px;
    border: none;
  }

  .choice__link {
    margin-top: 0;
    font-size: 20px;
  }

  .choice__link::after {
    margin-left: 25px;
  }
}
@media (min-width: 1440px) {
  .choice__wrapper {
    margin: 82px auto 71px;
    width: 1220px;
  }

  .choice__list {
    display: grid;
    grid-template-columns: repeat(2, 570px);
    gap: 80px;
  }

  .choice__item {
    margin: 0;
    padding: 0 0 55px 52px;
    width: 570px;
  }

  .choice__item--weight-loss::before {
    width: 100px;
    height: 100px;
    top: 47px;
    left: 52px;
  }

  .choice__item--weight-gain::before {
    width: 134px;
    height: 100px;
    top: 47px;
    left: 52px;
  }

  .choice__title {
    margin-bottom: 73px;
    padding-left: 162px;
  }

  .choice__description {
    margin-bottom: 23px;
    padding: 0;
    width: 457px;
  }
}
.advantages {
  margin: 0;
  padding: 0;
}

.advantages__wrapper {
  margin: 0 auto 49px;
  padding: 0;
  width: 280px;
}

.advantages__title {
  margin: 0;
  margin-bottom: 40px;
  padding: 0;
  color: #000000;
  font-size: 36px;
  font-weight: 400;
  line-height: 40px;
}

.advantages__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  row-gap: 20px;
  display: grid;
  grid-template-columns: 1fr;
}

.advantages__item {
  margin: 0;
  margin-left: auto;
  padding: 0;
  max-width: 200px;
}

.advantages__item--icon-leaf::before {
  content: "";
  position: absolute;
  background-image: url("../img/advantages/advantage-1.svg");
  background-repeat: no-repeat;
  width: 60px;
  height: 60px;
  left: 20px;
}

.advantages__item--icon-solute::before {
  content: "";
  position: absolute;
  background-image: url("../img/advantages/advantage-2.svg");
  background-repeat: no-repeat;
  width: 60px;
  height: 60px;
  left: 20px;
}

.advantages__item--icon-diet::before {
  content: "";
  position: absolute;
  background-image: url("../img/advantages/advantage-3.svg");
  background-repeat: no-repeat;
  width: 60px;
  height: 60px;
  left: 20px;
}

.advantages__item--icon-time::before {
  content: "";
  position: absolute;
  background-image: url("../img/advantages/advantage-4.svg");
  background-repeat: no-repeat;
  width: 60px;
  height: 60px;
  left: 20px;
}

.advantages__description {
  margin: 0;
  padding: 0;
  color: #444444;
  font-family: "Lato", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
}

@media (min-width: 768px) {
  .advantages__wrapper {
    margin: 0;
    padding: 0;
    padding-left: 30px;
    padding-bottom: 47px;
    border-bottom: 1px solid #e6e6e6;
    width: 768px;
  }

  .advantages__title {
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 32px;
  }

  .advantages__list {
    display: grid;
    grid-template-columns: repeat(2, 354px);
    row-gap: 37px;
    width: 708px;
  }

  .advantages__item {
    margin: 0;
    padding-top: 151px;
    padding-bottom: 57px;
    max-width: 245px;
  }

  .advantages__item--icon-leaf {
    position: relative;
  }

  .advantages__item--icon-leaf::before {
    width: 80px;
    height: 80px;
    top: 40px;
    left: 0;
  }

  .advantages__item--icon-leaf::after {
    content: "1";
    position: absolute;
    color: #f2f2f2;
    text-align: center;
    font-size: 280px;
    font-style: normal;
    font-weight: 400;
    line-height: 280px;
    top: 0;
    left: 118px;
    z-index: -1;
  }

  .advantages__item--icon-solute {
    position: relative;
  }

  .advantages__item--icon-solute::before {
    width: 80px;
    height: 80px;
    top: 40px;
    left: 0;
  }

  .advantages__item--icon-solute::after {
    content: "2";
    position: absolute;
    color: #f2f2f2;
    text-align: center;
    font-size: 280px;
    font-style: normal;
    font-weight: 400;
    line-height: 280px;
    top: 0;
    left: 118px;
    z-index: -1;
  }

  .advantages__item--icon-diet {
    position: relative;
  }

  .advantages__item--icon-diet::before {
    width: 80px;
    height: 80px;
    top: 40px;
    left: 0;
  }

  .advantages__item--icon-diet::after {
    content: "3";
    position: absolute;
    color: #f2f2f2;
    text-align: center;
    font-size: 280px;
    font-style: normal;
    font-weight: 400;
    line-height: 280px;
    top: 0;
    left: 118px;
    z-index: -1;
  }

  .advantages__item--icon-time {
    position: relative;
  }

  .advantages__item--icon-time::before {
    width: 80px;
    height: 80px;
    top: 40px;
    left: 0;
  }

  .advantages__item--icon-time::after {
    content: "4";
    position: absolute;
    color: #f2f2f2;
    text-align: center;
    font-size: 280px;
    font-style: normal;
    font-weight: 400;
    line-height: 280px;
    top: 0;
    left: 118px;
    z-index: -1;
  }

  .advantages__description {
    font-size: 16px;
    line-height: 24px;
  }
}
@media (min-width: 1440px) {
  .advantages__wrapper {
    margin: 0 auto 70px;
    width: 1220px;
    padding: 0;
    border: none;
  }

  .advantages__list {
    display: flex;
    width: 1220px;
    justify-content: space-between;
  }
}
.stats {
  margin: 0;
  padding: 0;
}

.stats__wrapper {
  margin: 0;
  padding: 0 20px;
  padding-top: 25px;
  width: 320px;
  background-color: #eaeaea;
  display: flex;
  flex-direction: column;
}

.stats__title {
  margin: 0;
  margin-bottom: 40px;
  padding: 0;
  color: #000000;
  font-size: 36px;
  font-weight: 400;
  line-height: 40px;
}

.stats__info {
  margin: 0;
  margin-bottom: 20px;
  padding: 0;
  width: 280px;
  color: #444444;
  font-family: "Lato", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
}

.stats__list {
  margin: 0;
  padding: 0;
  width: 280px;
  display: grid;
  grid-template-columns: repeat(2, 124px);
  column-gap: 32px;
}

.stats__item {
  margin: 0;
  margin-bottom: 20px;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.stats__item::before {
  content: "";
  position: absolute;
  background-image: url("../img/stats/border-line.svg");
  background-repeat: no-repeat;
  width: 124px;
  height: 56px;
}

.stats__number {
  margin: 0;
  padding: 0;
  padding-top: 14px;
  padding-bottom: 8px;
  color: #000000;
  text-align: center;
  font-size: 24px;
  font-weight: 400;
  line-height: 24px;
}

.stats__description {
  margin: 0;
  padding: 0;
  max-width: 77px;
  color: #444444;
  text-align: center;
  font-family: "Lato", sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 12px;
}

.stats__span {
  margin: 0;
  margin-bottom: 20px;
  padding: 0;
  padding-left: 46px;
  color: #000000;
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
}

.stats-sliders {
  margin: 0;
  padding: 0;
  padding-bottom: 40px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.stats__slider-icon {
  margin-left: -160px;
}

@media (min-width: 768px) {
  .stats__wrapper {
    margin: 45px auto 0;
    padding: 0 30px;
    width: 768px;
    background: linear-gradient(to bottom, #ffffff 574px, #eaeaea 462px);
  }

  .stats__title {
    margin: 0;
    margin-bottom: 60px;
    padding: 0;
    font-size: 60px;
    line-height: 60px;
  }

  .stats__info {
    margin: 0 auto;
    margin-bottom: 55px;
    width: 708px;
    font-size: 16px;
    line-height: 24px;
  }

  .stats__list-wrapper {
    display: flex;
    margin: 0;
    padding: 0;
    width: 768px;
  }

  .stats__list {
    margin-bottom: 99px;
    width: 367px;
    grid-template-columns: repeat(2, 162px);
    column-gap: 43px;
  }

  .stats__item {
    margin: 0;
  }

  .stats__item::before {
    width: 162px;
    height: 77px;
  }

  .stats__number {
    padding-top: 15px;
    padding-bottom: 11px;
    font-size: 30px;
    line-height: 37px;
  }

  .stats__description {
    margin: 0;
    padding: 0;
    max-width: 125px;
    font-size: 14px;
    line-height: 14px;
  }

  .stats__span {
    margin: 0;
    margin-left: 167px;
    margin-top: 11px;
    padding: 0;
    text-align: end;
    font-size: 20px;
    line-height: 20px;
    display: flex;
    flex-wrap: wrap;
    width: 174px;
  }

  .stats-sliders {
    width: 560px;
    height: 512px;
    justify-content: center;
    object-fit: cover;
  }
}
@media (min-width: 1440px) {
  .stats__wrapper {
    position: relative;
    margin: 0;
    padding: 0 110px 75px;
    width: 1440px;
    background: linear-gradient(to top, #f2f2f2 462px, #ffffff 75px);
  }

  .stats__title {
    margin-bottom: 75px;
  }

  .stats__info {
    margin: 0;
    margin-bottom: 75px;
    width: 436px;
  }

  .stats__list-wrapper {
    width: 436px;
    flex-wrap: wrap;
  }

  .stats__span {
    margin: 0;
    width: 436px;
    justify-content: start;
  }

  .stats-sliders {
    position: absolute;
    top: -10px;
    right: 110px;
    padding: 0;
    outline: 1px solid red;
    background-position: center;
  }
}
.contacts {
  margin: 0;
  padding: 0;
}

.contacts__wrapper {
  margin: 0;
  padding: 26px 20px;
  display: grid;
  grid-template-columns: repeat(2, 140px);
}

.contacts__slogan {
  margin: 0;
  padding: 0;
  width: 140px;
  color: #111111;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
}

.contacts__address {
  margin: 0;
  padding: 0;
  width: 140px;
  color: #444444;
  font-family: "Lato", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}

.contacts__image {
  margin: 0;
  padding: 0;
  width: 320px;
  height: 362px;
  object-fit: contain;
}

@media (min-width: 768px) {
  .contacts__wrapper {
    padding: 60px 70px;
    width: 768px;
    grid-template-columns: 163px 157px;
    justify-content: space-between;
  }

  .contacts__slogan {
    width: 163px;
    font-size: 20px;
    line-height: 26px;
  }

  .contacts__address {
    width: 157px;
    text-align: right;
    font-size: 16px;
  }
}
@media (min-width: 1440px) {
  .contacts__wrapper {
    margin-top: 95px;
    margin-left: 110px;
    margin-bottom: 106px;
    padding: 60px 78px;
    width: 565px;
    outline: 1px solid red;
  }

  .contacts__address {
    text-align: left;
  }
}
.address {
  margin: 0;
  padding: 0;
  color: #444444;
}

.address p {
  margin: 0;
}

@media (min-width: 768px) {
  .address p {
    margin-top: 19px;
  }
}
.main-footer {
  margin: 0;
  padding: 0;
}

.main-footer__wrapper {
  margin: 0;
  padding: 40px 20px;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #f2f2f2;
}

.main-footer__social {
  margin: 0;
  padding: 0;
}

.main-footer__copyright {
  margin: 0 auto;
  padding: 0;
}

@media (min-width: 768px) {
  .main-footer__wrapper {
    padding: 55px 30px;
    width: 768px;
    display: grid;
    grid-template-columns: 128px 132px 168px;
    justify-content: space-between;
    align-items: center;
  }
}
@media (min-width: 1440px) {
  .main-footer__wrapper {
    padding: 66px 110px;
    width: 1440px;
  }
}
.social {
  margin: 0;
  padding: 0;
}

.social__list {
  margin: 20px auto;
  padding: 0;
  list-style-type: none;
  width: 132px;
  display: grid;
  grid-template-columns: repeat(3, 28px);
  gap: 24px;
}

.social__item {
  margin: 0;
  padding: 0;
  max-height: 22px;
}

.social__link {
  margin: 0;
  padding: 0;
  width: 28px;
}

.social__link--v,
.social__link--youtube,
.social__link--telegram {
  margin: 0;
  padding: 0;
}

@media (min-width: 768px) {
  .social__list {
    margin: 0;
  }
}
.copyright {
  margin: 0;
  padding: 0;
}

.copyright__wrapper {
  margin: 0;
  margin-top: 20px;
  padding: 0;
  width: 280px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.copyright__link {
  margin: 0;
  padding: 0;
  width: 112px;
  height: 15px;
}

.copyright__icon {
  margin: 0;
  padding: 0;
  width: 27px;
  height: 34px;
}

@media (min-width: 768px) {
  .copyright__wrapper {
    width: 168px;
    margin: 0;
  }
}
/*# sourceMappingURL=style.css.map */